<div class="welcome">
  <h1 id="title">Froodle</h1>
  <% unless @current_user %>
    <h2>Doodle with Friends!</h2>
    <h2>Sign in with Google Plus!</h2>
  <% else %>
    <h2>Draw with your friends!</h2>
  <% end %>
</div>