/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-slider
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import "froodle2";
@import "guess";
// main styling
body {
  background: url('http://i.stack.imgur.com/GySvQ.png');
  font-family: "Duru Sans";
  font-size: 1.2em;
}

.container {
  margin: 1em auto;
  background: rgba(255, 255, 255, 0.9);
  min-height: 85vh;
  width: 85vw;
  border-radius: 1em;
  box-shadow: 10px 10px 5px black;

}

h1, h2, h3, .navbar-brand {
  font-family: 'Just Me Again Down Here', cursive;
  text-align: center;
}

.navbar-inverse {
  border-radius: 0px !important;
  .navbar-inverse .navbar-nav > li {
    color: #eeeeee !important;
  }
}

#title {
  font-size: 10em;
  margin-top: 30vh;
}
.active {
  background: #eee;
}


.welcome {
  text-align: center;
}

#submit {
  display: block;
  margin: 2px auto;
  width: 250px;
}
#difficulty {
  display: inline-block;
  width: 200px;
}
#newprompt {
  margin: 0 auto;
  width: 400px;
}
#signinButton {
  margin-top: 10px;
}

#slider {
    width: 50%;
    margin: 2em auto;
    label {
      position: absolute;
      width: 20px;
      margin-left: -10px;
      text-align: center;
      margin-top: 20px;
  }
}