/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

body {
  background: url('http://i.stack.imgur.com/GySvQ.png');
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 3em;
}
.drawingarea {
  margin: 0 auto;
  text-align: center;
}
canvas {
  background: rgba(0,0,0,.6);
  display: inline-block;
  margin: 0 auto;
}

nav {
}
#sectiondoodles {
  text-align: center;
}
.doodle {
  background: rgba(0,0,0,.6);
  display: inline-block;
  border-radius: 5px;
}
.userdoodle {
  margin: 0px;
  display: inline-block;
  margin-bottom: 10px;
}
.userdoodle p {
  margin-bottom: 0px;
}

#timer {
  background: black;
  height: 10px;
}

.swatch {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
}

.active {
  background: #eee;
}

.container {
  margin: 1em auto;
  background: rgba(255, 255, 255, 0.9);
  min-height: 900px;
  border-radius: 1em;
  box-shadow: 10px 10px 5px black;
}

.nav {
  border-bottom: 4px solid #eee;
}

.welcome {
  text-align: center;
}
#title {
  font-size: 10em;
}

