<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="326708415798-9ildkh4i1g8k5unf43cgdk8774oikhbk.apps.googleusercontent.com"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schema.org/AddAction"
    data-redirecturi="postmessage"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span>
<script type="text/javascript"></script>